@import '@fortawesome/fontawesome-free/css/all.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
	margin: 0 !important;
	padding: 0 !important;
}

html body {
	@apply: dark:bg-zinc-950;
}

.bg-gradient {
	background-color: hsla(0, 0%, 98%, 1);
	background-image: radial-gradient(at 63% 65%, hsla(17, 34%, 61%, 0.192) 0px, transparent 50%),
		radial-gradient(at 40% 50%, hsla(240, 7%, 70%, 0.226) 0px, transparent 50%);
}

@media (prefers-color-scheme: dark) {
	.bg-gradient {
		background-color: hsla(240, 10%, 3%, 1);
		background-image: radial-gradient(at 63% 65%, hsla(17, 87%, 40%, 0.12) 0px, transparent 50%),
			radial-gradient(at 40% 50%, hsla(240, 3%, 15%, 0.8) 0px, transparent 50%);
	}
}
